* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

body {
  /* background-color:lightsteelblue; */
  /* background-color:#b2d3e1; */
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
span {
  font-size: 16px;
}

p {
  color: #999999;
  font-size: 14px;
}

h1,
h2,
h3 {
  letter-spacing: -2px;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:active,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: black;
}

button:hover {
  cursor: pointer;
}

#__next {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  /* height: 100vh; */
}

.Gift:nth-child(even) {
  border-radius: 50%;
}

.Gift:nth-child(odd) {
  border-radius: 12px;
}

main {
  width: 100%;
  height: 100vh;

  background-color: #f9e9ee;

  background-color: rgba(
    249,
    233,
    238,
    0.8
  ); /* Add some transparency to the background color */
  backdrop-filter: blur(10px); /* Add the glassmorphism effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
  height: 50px;
}

/* material ui login form */

.css-1b0ve20 > :not(style) {
  margin: 0;
}

.form-label {
  margin: 0;
  margin-left: -40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); */
  background: rgba(255, 255, 255, 0.7);
  outline: darkblue;
  padding: 10px 15px;
  height: 34px;
  margin: 5px;
}
