/* id.module.css */

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  z-index: 0;
  overflow: scroll;
  padding-bottom: 60px;
}

.contentWrapper {
  max-width: 600px;
  min-width: 300px;
  height: auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);  
  width: 100%;
  max-width: 590px;
  min-width: 300px;
  
  background-color: #DFD7EC;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 99;
  margin-bottom: 5px;
  transform: translateX(-50%);
}

.ulStyle {
  margin: 0;
  padding: 2px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrap{
  margin: 0;
}

.liStyle {
  margin:0 3px 0 7px;
}

.searchForm {
  margin: 0 20px 0 0;
  right: 0;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 98%;
  height: 34px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}
/*   
  .searchInput {
    transform: scale(0);
  } */

.buttonStyle {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.imgStyle {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.showInput {
  transform: scale(1);
}

.hideInput {
  transform: scale(0);
}
