.navbar {
  display: flex;
  width: 100%;
  max-width: 590px;
  min-width: 300px;
  height: 60px;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 99;


  transform: translateX(-50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);


  background-color: #DFD7EC;
}

.displayNone {
  display: none;
}

.linkStyle {
  border-radius: 10px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  background: none;
}

.activeLink {
  background: #b2d3e1;
}

.coin {
  text-align: center;
  font-size: 1rem;
}

.giftLinkContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.userLinkContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  position: relative;
}

.userLinkContentBadge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%,-70%);
  border-radius: 50%;
  background-color: #dc5d46;
  color: white;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
}
